Node Red/Hydro-garden.json
[{"id":"c9e02d64.080bb","type":"tab","label":"SeperateSerialMessages","disabled":false,"info":""},{"id":"780d4749.e220f8","type":"serial in","z":"c9e02d64.080bb","name":"","serial":"6466201d.2adb8","x":110,"y":100,"wires":[["e4c2454c.5f96b8"]]},{"id":"e4c2454c.5f96b8","type":"function","z":"c9e02d64.080bb","name":"separateMessage","func":"var outputMsgs =[];\nvar values = msg.payload.trim().split(\",\");\nfor(var v in values){\n    outputMsgs.push({payload:values[v]});\n}\nreturn outputMsgs;","outputs":5,"noerr":0,"initialize":"","finalize":"","x":330,"y":100,"wires":[["598ba240.09d5ac"],["eb20193.1abc9e8"],["9ab3b78f.90bbb8"],["85dec265.50dab"],["3d023626.26413a"]]},{"id":"3762c816.ec8fb8","type":"ui_chart","z":"c9e02d64.080bb","name":"","group":"d44d4f44.3219e8","order":2,"width":"8","height":"8","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":800,"y":80,"wires":[[]]},{"id":"3996fe3e.888122","type":"ui_chart","z":"c9e02d64.080bb","name":"","group":"d44d4f44.3219e8","order":3,"width":"8","height":"8","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":810,"y":140,"wires":[[]]},{"id":"b8415188.be55a","type":"sqlite","z":"c9e02d64.080bb","mydb":"f5a33dc2.f6f08","sqlquery":"msg.topic","sql":"","name":"","x":570,"y":440,"wires":[["41e2650d.95522c"]]},{"id":"598ba240.09d5ac","type":"function","z":"c9e02d64.080bb","name":"G.Humidity","func":"global.set(\"Humidity\",msg.payload);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":80,"wires":[["3762c816.ec8fb8"]]},{"id":"41e2650d.95522c","type":"debug","z":"c9e02d64.080bb","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":500,"wires":[]},{"id":"3f74b315.b4eecc","type":"function","z":"c9e02d64.080bb","name":"Insert using global variable","func":"var sensor=\"ARDUINO\";\nvar masa=Date.now();\n\nmsg=\"( timestamp,sensor,temperature,humidity) values(\"+\"\\'\"+masa +\"\\'\" + \",\"+\"\\'\"+sensor +\"\\'\" + \",\"+\"\\'\"+global.get(\"Humidity\") +\"\\'\" + \",\"+\"\\'\"+global.get(\"Temp\") +\"\\'\" + \")\";\nvar topic=\"INSERT INTO DATA \" +msg;\nvar msg1={};\nmsg1.topic=topic;\n\nreturn msg1;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":480,"y":380,"wires":[["b8415188.be55a"]]},{"id":"eb20193.1abc9e8","type":"function","z":"c9e02d64.080bb","name":"G.TEMP","func":"global.set(\"Temp\",msg.payload);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":580,"y":140,"wires":[["3996fe3e.888122"]]},{"id":"7812d338.e33e3c","type":"comment","z":"c9e02d64.080bb","name":"From Arduino","info":"","x":220,"y":40,"wires":[]},{"id":"4282fa87.f8f0d4","type":"comment","z":"c9e02d64.080bb","name":"Store Data","info":"","x":160,"y":320,"wires":[]},{"id":"95a53f2.75c7ac","type":"inject","z":"c9e02d64.080bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":380,"wires":[["3f74b315.b4eecc"]]},{"id":"5d3973c4.ba937c","type":"comment","z":"c9e02d64.080bb","name":"TEKAN AKU","info":"G.HUMID DAN G.TEMP:\n- set kan as global variable\n- nak set global varible aku ikut lah format dalam java","x":570,"y":40,"wires":[]},{"id":"b89f994d.731258","type":"comment","z":"c9e02d64.080bb","name":"TEKAN AKU 2","info":"aku amik global variable masukkan dlm msg.payload\n- cara nak obtain, global varible pon ada format dia\n- boleh rujuk pada function, insert using global variable","x":440,"y":340,"wires":[]},{"id":"9ab3b78f.90bbb8","type":"function","z":"c9e02d64.080bb","name":"G.pH","func":"global.set(\"pH\",msg.payload);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":200,"wires":[["5e43eb35.bac534"]]},{"id":"5e43eb35.bac534","type":"ui_gauge","z":"c9e02d64.080bb","name":"","group":"d44d4f44.3219e8","order":0,"width":0,"height":0,"gtype":"gage","title":"pH Range","label":"units","format":"{{value}}","min":0,"max":"14","colors":["#b30000","#13e600","#cbc63a"],"seg1":"","seg2":"","x":830,"y":220,"wires":[]},{"id":"85dec265.50dab","type":"function","z":"c9e02d64.080bb","name":"G.Distance","func":"global.set(\"Distance\",msg.payload);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":260,"wires":[["bbb299c2.fdc678"]]},{"id":"bbb299c2.fdc678","type":"ui_gauge","z":"c9e02d64.080bb","name":"","group":"d44d4f44.3219e8","order":5,"width":0,"height":0,"gtype":"gage","title":"Distance","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":850,"y":300,"wires":[]},{"id":"16805c3a.34aa44","type":"inject","z":"c9e02d64.080bb","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":200,"wires":[["e4c2454c.5f96b8"]]},{"id":"3d023626.26413a","type":"function","z":"c9e02d64.080bb","name":"G.EC","func":"global.set(\"EC\",msg.payload);\nmsg.payload = msg.payload;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":300,"wires":[["15f609ac.6b6686"]]},{"id":"15f609ac.6b6686","type":"ui_gauge","z":"c9e02d64.080bb","name":"","group":"d44d4f44.3219e8","order":0,"width":0,"height":0,"gtype":"gage","title":"EC Range","label":"units","format":"{{value}}","min":0,"max":"0.6","colors":["#b30000","#13e600","#cbc63a"],"seg1":"","seg2":"","x":850,"y":360,"wires":[]},{"id":"6466201d.2adb8","type":"serial-port","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"d44d4f44.3219e8","type":"ui_group","name":"hello","tab":"34054411.bf9404","order":1,"disp":true,"width":"12","collapse":false},{"id":"f5a33dc2.f6f08","type":"sqlitedb","db":"c:\\users\\steve\\.node-red\\test.db","mode":"RWC"},{"id":"34054411.bf9404","type":"ui_tab","name":"Monitor","icon":"timeline","disabled":false,"hidden":false}]